*{
  padding: 0px;
  margin: 0px;
}


h1{
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

button  {
    padding: 10px;
    font-size: 25px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}